<div class="banner-slack" >
  <div class="row wrap center">
    <div class="col col-33 col-md-25 col-lg-20">
      <div class="icon icon-slack"></div>
    </div>
    <div class="col col-67 col-md-75 col-lg-80">
      <h3>{{ site.banner_slack.title }}</h3>
      <p>{{ site.banner_slack.text }}</p>
      <a href="" class="btn btn-primary btn-round btn-join" target="_blank" href="{{ site.banner_slack.link }}">
        {{ site.banner_slack.btn_text   }}
      </a>
    </div>
  </div>
</div>
<!--
<div class="banner-slack" style="border:none">
  <div class="row wrap center">
    <div class="col col-100">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 IonBookBlog recommend 
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8943241156434100"
     data-ad-slot="1426017276"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>
</div>-->