<div class="banner-slack" >
  <div class="row wrap center">
    <div class="col col-33 col-md-25 col-lg-20">
      <div class="icon icon-social-youtube"></div>
    </div>
    <div class="col col-67 col-md-75 col-lg-80">
      <h3>{{ site.data.general.banner_hangouts.title }}</h3>
      <p>{{ site.data.general.banner_hangouts.text }}</p>
      <a href="{{ site.data.general.banner_hangouts.url }}" class="btn btn-primary btn-round btn-join" target="_blank">
        {{ site.data.general.banner_hangouts.btn_text   }}
      </a>
    </div>
  </div>
</div>