<div class="content-footer">
  <footer class="content">
    <div class="row wrap center">
      <div class="col col-100 col-md-66 col-lg-66">
        <a href="{{ "/"  | prepend: site.baseurl }}">
          <amp-img src="{{ '/images/ion-book-wh.png'  | prepend: site.baseurl }}"  width="553" height="193" layout="responsive"></amp-img>
        </a>
        <p>{{ site.data.footer.text }}</p>
        </ul>
      </div>
      <div class="col col-100 col-md-33 col-lg-33">
        <ul class="menu-footer">
          {% for link in site.data.nav.menu_footer %}<li>
              <a {% if page.title == link.title %}class="active"{% endif %} href="{{ link.url }}" target="{{link.target}}" rel="noopener">{{ link.title }}</a>
          </li>{% endfor %}
        </ul>
        <div>
            {% for social in site.data.general.social_links %}
            <a href="{{ social.url }}" target="_blank" class="btn-social" rel="noopener">
              <div class="icon {{social.icon}}"></div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>
</div>
{% if site.pwa_enabled > 0 %}
<!-- Install Service Worker -->
<amp-install-serviceworker src="./sw.js"
  data-iframe-src="./sw.html"
  layout="nodisplay"
  >
</amp-install-serviceworker>
{% endif%}
