<div class="nav-bar">
  <nav class="content">
    <div class="left-nav">
      <a href="{{ "/"  | prepend: site.baseurl }}" class="title">
        <amp-img src="{{ '/images/ion-book-wh.png'  | prepend: site.baseurl }}" width="553" height="193" layout="responsive"></amp-img>
      </a>
    </div>
    <div class="right-nav">
      {% for link in site.menu_header %}<div class="tab">
          <a {% if page.title == link.title %}class="active"{% endif %} href="{{ link.url }}" target="{{link.target}}">{{ link.title }}</a>
      </div>{% endfor %}
      <button class="tab menu" on='tap:sidebar.toggle'></button>
    </div>
  </nav>
</div>