<div class="share-vertical">
  <amp-social-share data-param-text="{{ page.title }} en #ionBook" width="40" height="40" type="system" ></amp-social-share>
  <amp-social-share data-param-text="{{ page.title }} en #ionBook" width="40" height="40" type="facebook" data-param-app_id="877264572411311"></amp-social-share>
  <amp-social-share data-param-text="{{ page.title }} en #ionBook" width="40" height="40" type="gplus"></amp-social-share>
  <amp-social-share data-param-text="{{ page.title }} en #ionBook" width="40" height="40" type="linkedin"></amp-social-share>
  <amp-social-share data-param-text="{{ page.title }} en @ion_book" width="40" height="40" type="twitter"></amp-social-share>
</div>
