<div class="ion-form-subscribe">
  <!--<form  action="//ion-book.us13.list-manage.com/subscribe/post?u=e940b700cbe988699b03ab77c&amp;id=e8641062ff"
    method="post" target="_top"
    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    <div class="input-email">
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Tu correo" required>
    </div>
    <div class="button-submit">
      <div class="hidden" aria-hidden="true">
        <input type="text" name="b_e940b700cbe988699b03ab77c_e8641062ff" tabindex="-1" value="">
      </div>
      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-round btn-success">
        {{ site.subscribe.btn_text }}
      </button>
    </div>
  </form>-->
  <a href="http://www.ng-classroom.com/p/curso-profesional-ionic-2-0?ref=ionbook" target="_blank" class="btn btn-round btn-success">Ir al Curso Profesional</a>
</div>


