---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <section class="cover">
            {% assign post = site.posts.first %}
            {% assign content = post.content %}
            {% include article_home.html trucate="200" %}
          </section>
        </div>
      </div>
      <div class="row">
        {% for post in site.posts offset:1 %}
          {% if post.cover %}
          <div class="col-xs-12 col-md-6">
            {% include article_home.html trucate="90" %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include right.html %}
  </div>
</div>