{% assign author = site.authors[post.author] %}
<article class="article-home">
  <h1>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h1>
  <div class="info">
    <p>
      {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
      - {{ post.date | date: '%B %d, %Y' }}
      por <strong>{{ author.name }}</strong>
    </p>
  </div>
  <p class="summary">
    {{ post.content | strip_html | truncate: 200  }}
  </p>
  <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Leer más...</a>
</article>