<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 hidden-xs">
        <a href="{{ site.book-url }}" target="_blank">
          <img src="{{ site.book-img }}" alt="logo" class="hidden-xs book-img">
          <img src="/images/ion-book-wh.png" alt="logo" class="visible-xs logo">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h1>ION-BOOK</h1>
        <p>Aprende ionic1 & ionic2 y construye increibles aplicaciones mientras aprendes. </p>
        <a href="{{ site.book-url }}" target="_blank" class="btn btn-success btn-lg disabled">
          Muy pronto
        </a>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a href="/">Home</a>
          </li>
          <li role="presentation">
            <a href="/autores">Autores</a>
          </li>
          <li role="presentation">
            <a href="{{ site.courses-url }}" target="_blank">Cursos</a>
          </li>
          <li role="presentation">
            <a href="{{ site.book-url }}" target="_blank">Libro</a>
          </li>
        </ul>
        <h4 class="title">Siguenos en:</h4>
        {% for social in site.social_links %}
          <a href="{{ social.url }}" target="_blank" class="btn btn-default btn-sm">
            <i class="fa {{ social.icon }}" aria-hidden="true"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>