<nav class="navbar navbar-default"> 
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">
            <img src="/images/ion-book-wh.png" alt="logo">
          </a>
      </div>
    </div>
    <div class="container hidden-xs">
      <div class="row">
          <div class="col-xs-12">
            <h1>Todo sobre IONIC en español</h1>
            <h4>Tips, noticias, tutoriales, demos, actulizaciones, buenas practicas...</h4>
          </div>
      </div>
    </div>
    <!-- Menu -->
    <div class="navbar-collapse collapse" id="nav-bar">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav navbar-nav">
              <li>
                <a {% if page.layout == "default" %}class="active"{% endif %} href="{{ "/"  | prepend: site.baseurl }}">Todo</a>
              </li>
              {% for item_page in site.pages %}
                {% if item_page.layout == "category" %}
                <li>
                  <a {% if page.title == item_page.title %}class="active"{% endif %} href="{{ item_page.url | prepend: site.baseurl }}">{{ item_page.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a {% if page.title == "Publicaciones" %}class="active"{% endif %} href="{{ "/publications"  | prepend: site.baseurl }}">Publicaciones</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</nav>