<div class="col-xs-12 col-md-3">
  <section class="box">
    <div class="row">
      <div class="col-xs-12">
        <a href="http://j.mp/1Us5Y5B" target="_blank">
          <img src="http://i.imgur.com/cfKvAxi.jpg" alt="">
        </a>
        <p>Aprende ionic1 & ionic2 y construye increibles aplicaciones mobiles aprendes. </p>
        <a href="http://j.mp/1Us5Y5B" target="_blank" class="btn btn-success btn-lg btn-block">
          Comprar
        </a>
      </div>
    </div>
  </section>
</div>
<div class="col-xs-12 col-md-3">
  <h4 class="title">Siguenos en:</h4>
  <a href="http://goo.gl/forms/ZCEc0cr3jydgK2wv1" target="_blank" class="btn btn-default">
    <i class="fa fa-slack" aria-hidden="true"></i>
  </a>
</div>