<div class="col-xs-12 col-md-3">
  <div class="row">
    
    <div class="col-xs-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- IonBookBlog -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8943241156434100"
          data-ad-slot="7344056075"
          data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

     <div class="col-xs-12 col-sm-6 col-md-12">
       <section class="box">
          <a href="{{ site.book-url }}" target="_blank">
            <img src="{{ site.book-img }}" alt="logo" class="hidden-sm">
            <img src="/images/ion-book-wh.png" alt="logo" class="visible-sm">
          </a>
          <p>Aprende ionic1 & ionic2 y construye increibles aplicaciones mientras aprendes. </p>
          <a href="{{ site.book-url }}" target="_blank" class="btn btn-success btn-lg btn-block disabled">
            Muy pronto
          </a>
        </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12">
       <section class="box">
         <a href="{{ site.courses-url }}" target="_blank">
            <img src="/images/ion-book-wh.png" alt="logo">
          </a>
          <p>Aprende con cursos más específicos con videos online. </p>
          <a href="{{ site.courses-url }}" target="_blank" class="btn btn-success btn-lg btn-block">
            Ver cursos
          </a>
        </section>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-12">
       <section class="box">
          <p>Sigue nuestro canal de Youtube. </p>
          <a href="http://j.mp/2bvg8ow" target="_blank" class="btn btn-success btn-lg btn-block">
             <i class="fa fa-youtube-play" aria-hidden="true"></i> Startupers
          </a>
        </section>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-12">
       <section class="box">
          <a href="https://gumroad.com/carlosrojas_o}" target="_blank">
            <img src="http://i.cubeupload.com/Mco21D.png" alt="logo">
          </a>
          <p>Aca podras encontrar algunos productos para tus proyectos.</p>
          <a href="https://gumroad.com/a/672609395 " target="_blank" class="btn btn-success btn-lg btn-block">
            Ver Productos
          </a>
        </section>
    </div>

  </div>
 <div class="row">
   <div class="col-xs-12">
     <h4 class="title">Siguenos en:</h4>
      <p>
      {% for social in site.social_links %}
        <a href="{{ social.url }}" target="_blank" class="btn btn-default">
          <i class="fa {{ social.icon }}" aria-hidden="true"></i>
        </a>
      {% endfor %}
      </p>
   </div>
   
 </div>
</div>
