$primary-color: #4E8EF7;
$secondary-color: #2557AA;
$success-color: #57aa25;
$title-color: #333;
$box-background-color: #6E6891;
$footer-background-color: #422AC4;

$font-title-family: 'Montserrat', Helvetica, Arial, sans-serif;
$font-base-family: 'Open Sans', Helvetica, Arial, sans-serif;

$min-width-medium: 40em;
$max-width-medium: 63.9375em;

$min-width-large: 64em;

$max-width-content: 1100px;
$padding: 16px;

$border-radius-btn: 5px;