$brand-color: #4E8EF7;
$brand-color-secondary: #2557AA;
$title-color: #333;
$box-background-color: #6E6891;
$footer-background-color: #422AC4;

$font-title-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-text-family: 'Roboto', Helvetica, Arial, sans-serif;
