$brand-color: #4E8EF7;
$brand-color-secondary: #75a8f9;
$title-color: #333;
$box-background-color: #f5f7f9;

$font-title-family: 'PT Sans', Helvetica, Arial, sans-serif;
$font-text-family: 'Open Sans', Helvetica, Arial, sans-serif;
