<header class="header">
  {% include general/nav.html %}
</header>
<div class="menu-blog">
  <div class="content">
    <div class="row wrap center">
      <!--<div class="col col-100 col-md-40 col-lg-40">
        {% include general/subscribe.html %}
      </div>-->
      <div class="col col-100 col-md-60 offset-md-40 col-lg-60 offset-lg-40 hidden-sm">
        <ul>
          <li>
            <a {% if page.layout == "default" %}class="active"{% endif %} href="{{ "/blog"  }}">Todo</a>
          </li>
          {% for item_page in site.pages %}{% if item_page.layout == "category" %}<li>
              <a {% if page.title == item_page.title %}class="active"{% endif %} href="{{ item_page.url }}">{{ item_page.title }}</a>
          </li>{% endif %}{% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
