<div class="row wrap baseline">
  <div class="col col-100">
    <section class="content-article-right">
      <h3>Artículos relacionados:</h3>
      <div class="row wrap baseline">
        {% assign count = 0 %}
        {% for tag in page.tags %}
          {% for post in site.posts %}
            {% if post.tags contains tag and count < site.blog.count_related_posts and post.title != page.title %}
            {% assign count = count | plus: 1 %}
            <div class="col col-100 col-md-33 col-lg-100">
              {% include blog/article_right.html %}
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      </section>
  </div>
</div>
<div class="content-slack-right">
  <div class="row">
    <div class="col col-100 offset-md-25 col-md-50 offset-lg-25 col-lg-50">
      {% include general/banner-slack.html %}
    </div>
  </div>
  <div class="row">
    <div class="col col-100 offset-md-25 col-md-50 offset-lg-25 col-lg-50">
      {% include general/ads.html %}
    </div>
  </div>
</div>