.content-banner-course{
  color: white;
  padding: 20px;
  background-color: $primary-color;
  margin-top: 30px;
  p{
    color: white;
    font-size: 2em;
    text-align: center;
  }
  .btn-course{
    color: white;
    margin: 0 auto;
    width: 200px;
    display: block;
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .content-banner-course{
    p{
      text-align: left;
    }
    .btn-course{
      font-size: 1.3em;
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .content-banner-course{
    p{
      text-align: left;
    }
    .btn-course{
      font-size: 1.3em;
    }
  }
}