.content-footer{
  background-color: $secondary-color;
  margin-top: 0px;
  padding: 50px 0px;
  .menu-footer{
    list-style: none;
    display: block;
    margin: 20px 0px;
    padding: 0px;
    li{
      padding: 4px 0px;
      a{
        color: white;
        font-family: $font-title-family;
      }
    }
  }
  .btn-social{
    display: inline-block;
    background-color: white;
    color: $secondary-color;
    border-radius: 5px;
    padding: 10px;
  }
  p{
    color: white;
    width: 90%;
  }
  amp-img{
    width: 120px;
  }
}