.nav-bar{
  display: flex;
  align-items: center;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    .left-nav{
      text-align: left;
      width: auto;
      align-items: center;
      .title{
        amp-img{
          width: 120px;
        }
      }
    }
    .right-nav{
      text-align: right;
      display: flex;
      align-items: center;
      div.tab{
        display: none;
        padding: 0px 16px;
        a{
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-family: $font-title-family;
          &:hover,
          &.active{
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .nav-bar{
    nav{
      .right-nav{
        div.tab{
          display: block;
        }
        button.menu{
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .nav-bar{
    nav{
      .right-nav{
        div.tab{
          display: block;
        }
        button.menu{
          display: none;
        }
      }
    }
  }
}