.subscribe-blog{
  .ion-form-subscribe{
    .input-email{
      input[type="email"]{
        box-shadow: 0px 0px 5px 0px $success-color;
      }
    }
  }
}

.ion-form-subscribe{
  display: block;
  a.btn-success{
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  form{
    &.user-invalid{
      .button-submit{
        button[type="submit"]{
          opacity: .3;
        }
      } 
    }
    .input-email{
      margin-bottom: 8px;
      input[type="email"]{
        padding: 16px;
        margin: 0px;
        width: 100%;
        border-radius: 5px;
        border: 0px;
        box-sizing: border-box;
        &.user-invalid{
          border-right: 6px solid red;
        }
      }
    }
    .button-submit{
      .hidden{
        position: absolute;
        left: -5000px;
      }
      button[type="submit"]{
        width: 100%;
      }
    }
    &.amp-form-submit-success{
      .input-email{
        display: none;
      }
    }
    .submit-success,
    .submit-error{
      p{
        color: white;
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .ion-form-subscribe{
    a.btn-success{
      width: 30%;
      display: block;
    }
    form{
      display: flex;
      .input-email{
        margin-bottom: 0px;
        input[type="email"]{
          border-radius: 5px 0px 0px 5px;
        }
      }
      .button-submit{
        button[type="submit"]{
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
  }
  .subscribe-blog{
    form{
      .input-email{
        width: 40%;
      }
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .ion-form-subscribe{
    a.btn-success{
      width: 30%;
      display: block;
    }
    form{
      display: flex;
      .input-email{
        width: 40%;
        margin-bottom: 0px;
        input[type="email"]{
          border-radius: 5px 0px 0px 5px;
        }
      }
      .button-submit{
        button[type="submit"]{
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
  }
  .subscribe-blog{
    form{
      .input-email{
        width: 40%;
      }
    }
  }
}