.content-authors{
  box-sizing: border-box;
}
.author{
  margin: 20px 0px;
  box-sizing: border-box;
  h2{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .text{
    box-sizing: border-box;
    padding-left: 2%;
  }
  .btn-social{
    display: inline-block;
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .more{
    margin-top: 5px;
    a{
      padding: 10px;
    }
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .content-authors{
    padding-right: 2%;
  }
  .author{
    h2{
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .content-authors{
    padding-right: 2%;
  }
  .author{
    h2{
      margin-top: 0px;
      margin-bottom: 5px;
    }
  }
}