.menu-blog{
  background-color: $secondary-color;
  text-align: right;
  .content{
    padding: 20px $padding;
    ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      li{
        display: inline-block;
        padding: 0px 10px;
        &:first-child{
          padding-left: 0px; 
        }
        a{
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-family: $font-title-family;
          text-transform: capitalize;
          &:hover{
            border-bottom: 2px solid white;
          }
          &.active{
            border-bottom: 2px solid white;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .menu-blog{
    padding: 0px $padding;
  }
}
@media screen and (min-width: $min-width-large) {
  .menu-blog{
    padding: 0px $padding;
  }
}
@import
"articles",
"syntax_highlighting";