/* Large and up */
@media screen and (min-width: 64em) {
  .link-repo{
    margin-top: 20px;
  }
  
  .article-home{
    h1{
      margin-top: 10px;
      font-size: 25px;
      height: 30px;
      overflow: hidden
    }
    .cover-crop{
      height: 90px;
    }
  }
}