@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .link-repo{
    margin-bottom: 10px;
  }
  .article-home{
    h1{
      margin-top: 10px;
      font-size: 25px;
      height: 30px;
      overflow: hidden
    }
    .cover-crop{
      height: 90px;
    }
  }
}