.cover{
  .article-home{
    height: auto;
    .cover-crop{
      height: 200px;
    }
    h1{
      font-size: 36px;
      margin-top: 10px;
      height: auto;
      overflow: visible;
    }
  }
}
.article-home{
  margin: 20px 0px;
  .more{
    text-align: right;
  }
  .tags{
    margin-bottom: 10px;
  }
  h1{
    margin-bottom: 0px; 
    a{
      font-family: $font-title-family;
      color: $title-color;
      font-weight: bold;
    }
  }
  .cover-crop{
    overflow: hidden;
    position: relative;
    display: block;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  p.summary{
    font-size: 18px;
  }
  a.btn.btn-primary{
    background-color: $brand-color;
    border-color: $brand-color;
    border-radius: 0px;
    font-family: $font-title-family;
  }
}
.title-article{
  /*background: $brand-color-secondary;*/
  h1{
    font-size: 40px;
    line-height: 40px;
    font-family: $font-title-family;
    color: $title-color;
    font-weight: bold;
  }
}
.tag{
  background-color: #eee;
  padding: 3px;
  display: inline-block;
}
.article-detail{
  p,
  a,
  li{
    font-size: 18px;
  }
}
.link-repo{
  background-color: $brand-color;
  border-color: $brand-color;
  border-radius: 0px;
  font-family: $font-title-family;
}
@import
"articles-small",
"articles-medium",
"articles-large";