.header{
  color: white;
  background-color: $primary-color;
  box-sizing: border-box;
  &.header-home{
    background-image: -webkit-linear-gradient(top left, $primary-color 20%, $secondary-color 100%);
    background-image: -o-linear-gradient(top left, $primary-color 20%, $secondary-color 100%);
    background-image: linear-gradient(to bottom right, $primary-color 20%, $secondary-color 100%);
  }
  .title{
    font-size: 1.6em;
    text-align: center;
    color: white;
    .underline{
      border-bottom: 2px solid white;
    }
  }
  .text{
    text-align: center;
    color: white;
  }
  .phones{
    margin-top: $padding;
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .header{
    padding: 16px 16px 0px 16px;
    #banner{
      align-items: center;
      .title{
        text-align: left;
      }
      .text{
        width: 90%;
        text-align: left;
      }
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .header{
    padding: 16px 16px 0px 16px;
    #banner{
      align-items: center;
      .title{
        text-align: left;
        font-size: 2em;
      }
      .text{
        width: 90%;
        text-align: left;
      }
    }
  }
}