.content-topics{
  .topic{
    &:nth-child(even){
      .icon,
      h3{
        color: $primary-color;
      }
    }
    &:nth-child(odd){
      .icon,
      h3{
        color: $secondary-color;
      }
    }
    > div{
      border: 1px solid #F0F0F0;
      border-radius: 4px;
      padding: $padding;
      margin: 10px 0px;
      h3{
        margin: 0px;
        font-size: 1em;
      }
      p{
        font-size: .8em;
      }
      .icon{
        font-size: 4em;
      }
    }
  }
}
@media screen and (min-width: $min-width-medium) and (max-width: $max-width-medium) {
  .content-topics{
    .topic{
      &:nth-child(9),
      &:nth-child(8),
      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(1){
        .icon,
        h3{
          color: $primary-color;
        }
      }
      &:nth-child(7),
      &:nth-child(6),
      &:nth-child(3),
      &:nth-child(2){
        .icon,
        h3{
          color: $secondary-color;
        }
      }
      &:nth-child(9){
        margin-left: 25%;
      }
      > div{
        margin: 10px 7px;
      }
    }
  }
}
@media screen and (min-width: $min-width-large) {
  .content-topics{
    .topic{
      > div{
        margin: 10px 7px;
      }
    }
  }
}