---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1 class="title">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
      <div class="row">
        {% assign posts = site.categories[page.category] | where:"draft", "false" %}
        {% for post in posts %}
          {% unless post.draft %}
          <div class="col-xs-12 col-sm-6">
            {% include article_home.html trucate="90" %}
          </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    {% include right.html %}
  </div>
</div>