---
layout: default
---
{% include blog/header.html %}
<div class="content">
  <div class="row">
    <div class="col">
      <h1 class="title-page">Organiza un Community Dev Day en tu ciudad.</h1>
      <p>
        Los Communities Dev Day son eventos de escala media a grande que unen a las personas y las comunidades locales.
      </p>
    </div>
  </div>
  <div class="row wrap top">
    <div class="col col-100 col-md-100 col-lg-20">
      <div class="row wrap baseline">
        <div class="col col-100">
          <section class="content-article-right">
            <h3>Ultimos artículos:</h3>
            <div class="row wrap baseline">
              {% for post in site.posts limit: 8 %}
                <div class="col col-100 col-md-33 col-lg-100">
                  {% include blog/article_right.html %}
                </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>