---
layout: default
---
{% include general/gtm.html %}
{% include blog/header.html %}
{% for item in site.data.authors %}{% if item.id == page.author%}{% assign author = item %}{% endif %}{% endfor %}
<div class="content content-title">
  <div class="row wrap center">
    <div class="col col-100 col-md-100 col-lg-80">
      <h1 class="title-article">{{ page.title }}</h1>
      <div class="tags">
        {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor %} - 
        {{ page.date | date: '%B %d, %Y' }} por 
        <a href="{{ author.url }}"><strong>{{ author.name }}</strong></a> 
        {% if page.editname %}
         | <a href="https://github.com/ion-book/ion-book.github.io/tree/master/_posts/{{ page.editname }}"><strong>Edita este Post.</strong></a>
        {% endif %}
      </div>
      {% if page.versions %}
      <div class="versions">
        {% for version in page.versions %}<span class="version"><span>{{ version.title }}</span><span>{{ version.number }}</span></span>{% endfor %}
      </div>
      {% endif %}
    </div>
    {% if page.repo %}
    <div class="col col-100 col-md-100 col-lg-20">
      <a href="{{ page.repo }}" class="btn btn-primary btn-round center-block btn-icon btn-demo" target="_blank">
        <div class="icon icon-social-octocat"></div> Ver código
      </a>
    </div>
    {% endif %}
  </div>
</div>
<div class="content">
  <div class="row wrap top">
    <div class="col col-100 col-md-100 col-lg-80 article-detail">
      {% include blog/share.html %}
      <article>
        <div class="text">{{ content }}</div>
        {% if page.repo %}
        <a href="{{ page.repo }}" class="btn btn-primary btn-round center-block btn-icon btn-demo" target="_blank">
          <div class="icon icon-social-octocat"></div> Ver código
        </a>
        </br>
        {% endif %}
        {% if page.laucher %}
        <a href="{{ page.laucher }}" class="btn btn-primary btn-round center-block btn-icon btn-demo" target="_blank">
          <div class="icon icon-social-octocat"></div> Ver demo
        </a>
        {% endif %}
        {% if page.remember %}
        <div class="remember-demo">
          <h4><strong>Recuerda:</strong></h4>
          <p>Si quieres ejecutar este demo en tu computadora, debes tener el <a target="_blank" href="http://ionicframework.com/docs/v2/getting-started/installation/">entorno</a> de ionic instalado y luego de descargar o clonar el proyecto debes ubicarte en tu proyecto en la terminal y luego ejecutar</p>
          <div class="highlighter-rouge">
            <pre class="highlight"><code>npm install</code></pre>
          </div>
          <p>esto es para descargar todas las dependencias del proyecto.</p>
        </div>
        {% endif %}
      </article>
      <article>
        <hr/>
        <p>Te ha gustado el Post? No te olvides dejarnos una <a href="https://www.facebook.com/pg/ionbook/reviews/">Calificación</a> en Facebook y darle Like al <a href="https://www.facebook.com/pg/ionbook">Facebook Page</a>.
        Espero sea de utilidad y sigan programando :)</p>
        <p>Por: <a href="{{ author.url }}"><strong>{{ author.name }}</strong></a></p>
      </article>
      <article>
        <h3>¡Compártelo!</h3>
        {% include blog/share.html %}
      </article>
      {% include blog/disqus.html %}
    </div>
    <div class="col col-100 col-md-100 col-lg-20">
      {% include blog/right.html %}
    </div>
  </div>
</div>