---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container">
  <div class="col-xs-12 col-md-10">
     <h1 class="title-article">{{ page.title }}</h1>
     <div class="tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %} - 
      {{ page.date | date: '%B %d, %Y' }} por 
      <a href="{{ author.url }}"><strong>{{ author.name }}</strong></a> 
    </div>
  </div>
  {% if page.repo %}
  <div class="col-xs-12 col-md-2 button-demo">
    <a href="{{ page.repo }}" class="btn btn-primary btn-lg btn-block link-repo" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i> Ver demo
    </a>
  </div>
  {% endif %}
</div>
<div class="container article-detail">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <article>
        {{ content }}
        {% if page.repo %}
        <p>
          <a href="{{ page.repo }}" class="btn btn-primary btn-lg link-repo" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> Ver demo
          </a>
        </p>
        {% endif %}
        {% if page.remember %}
        <div class="remember-demo">
          <h4><strong>Recuerda:</strong></h4>
          <p>Si quieres ejecutar este demo un tu computadora, debes tener el <a target="_blank" href="http://ionicframework.com/docs/v2/getting-started/installation/">entorno</a> de ionic instalado y luego de descargar o clonar el proyecto debes ubicarte en tu proyecto en la terminal y luego ejecutar</p>
          <div class="highlighter-rouge">
            <pre class="highlight"><code>npm install</code></pre>
          </div>
          <p>Y luego</p>
          <div class="highlighter-rouge">
            <pre class="highlight"><code>ionic state restore</code></pre>
          </div>
          <p>esto es para descargar todas las dependencias del proyecto.</p>
        </div>
        {% endif %}
      </article>
      <article>
        <hr/>
        <p>¿Quieres saber más? suscribete a nuestro Newsletter o únete a nuestro canal en <a href="http://goo.gl/forms/ZCEc0cr3jydgK2wv1">Slack</a> y mantente atento.
        Espero sea de utilidad y sigan Programando :)</p>
        <p>Por: <a href="{{ author.url }}"><strong>{{ author.name }}</strong></a></p>
        <h4 class="title">Siguenos en:</h4>
        <p>
        {% for social in site.social_links %}
          <a href="{{ social.url }}" target="_blank" class="btn btn-default">
            <i class="fa {{ social.icon }}" aria-hidden="true"></i>
          </a>
        {% endfor %}
        </p>
      </article>
      <hr/>
      {% if page.comments %}{% include disqus.html %}{% endif %}
      <div align="center">
        <a href="#">
        <i class="fa fa-arrow-circle-up fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>