---
layout: default
---
<div class="container">
    <div class="col-xs-12 col-md-9">
      
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
        {% for publication in site.publications %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="publication">
              <img src="{{ publication.cover }}" class="img-responsive" alt="publication">
              <h2 class="title">{{ publication.title }}</h2>
              <p>{{ publication.summaty }}</p>
              <a href="{{publication.url}}" target="_blank" class="btn btn-primary">
                <i class="fa fa-twitter" aria-hidden="true"></i> Descargar
              </a>
            </article>
            
          </div>
        {% endfor %}
      </div>
    </div>
    {% include blog/right.html %}
  </div>
</div>