<div class="content content-slack">
    <div class="row">
      <div class="col">
       <h2 class="title">Sube al siguiente nivel.</h2>
       <p class="text-center">Hemos preparado unos excelentes Cursos para que te conviertas en un Profesional.</p>
      </div>
    </div>
    <div class="row wrap">
      <div class="col col-100 col-md-33 col-lg-33">
        <!-- Angular -->
        <a href="http://www.ng-classroom.com/p/curso-practico-angular">
            <amp-img src="https://firebasestorage.googleapis.com/v0/b/ion-book.appspot.com/o/Assets%2FAngular2.png?alt=media&token=d6b5a16e-15d3-464e-9378-fc2a09602aa6" alt="" width="250" height="250" layout="responsive"></amp-img>
        </a>
      </div>
      <div class="col col-100 col-md-33 col-lg-33">
        <!-- Ionic -->
        <a href="http://www.ng-classroom.com/p/curso-profesional-ionic-2-0">
            <amp-img src="https://firebasestorage.googleapis.com/v0/b/ion-book.appspot.com/o/Assets%2Fionic-meta.jpg?alt=media&token=0d58de34-9da6-4b77-8e47-0f08dfce6995" alt="" width="250" height="250" layout="responsive"></amp-img>
        </a>
      </div>
      <div class="col col-100 col-md-33 col-lg-33">
        <!-- Firebase -->
        <a href="http://www.ng-classroom.com/p/curso-firebase">
            <amp-img src="https://firebasestorage.googleapis.com/v0/b/ion-book.appspot.com/o/Assets%2Fimage00.png?alt=media&token=9e3c25d9-6426-44d0-a87a-49a7fa2573ce" alt="" width="250" height="250" layout="responsive"></amp-img>
        </a>
      </div>
    </div>
  </div>