<header class="header header-home">
  {% include general/nav.html %}
  <div class="content">
    <div id="banner" class="row wrap">
      <div class="col col-100 col-md-60 col-lg-60">
        <h1 class="title">{{ site.home.banner_title  }}</h1>
        <p class="text">{{ site.home.banner_text  }}</p>
        {% include general/subscribe.html %}
      </div>
      <div class="col col-100 col-md-40 col-lg-40">
        <div class="phones">
          <amp-img src="{{ 'images/phones.png'  | prepend: site.baseurl }}"  width="800" height="890" layout="responsive"></amp-img>
        </div>
      </div>
    </div>
  </div>
</header>