<div class="content content-video">
   <div class="row">
     <div class="col col-100">
        <h2 class="title">{{ site.home.topics_title }}</h2>
     </div>
   </div>
  <div class="row wrap">
    <div class="col col-100 col-md-60 col-lg-60">
      <div class="video">
        <amp-youtube width="480" 
            height="270"
            layout="responsive"
            data-videoid="{{ site.home.topics_video }}">
        </amp-youtube>
      </div>
    </div>
    <div class="col col-100 col-md-40 col-lg-40">
      <p>{{ site.home.topics_text }}</p>
      <ul class="techs">
        <li class="angular"></li>
        <li class="js"></li>
        <li class="ts"></li>
        <li class="html"></li>
      </ul>
    </div>
  </div>
</div>