body{
  font-family: $font-base-family;
}
h1,h2,h3,h4,h5,h6{
  font-family: $font-title-family;
}
small, p{
  color: #747474;
}
a{
  text-decoration: none;
  color: $secondary-color;

}
.content{
  max-width: $max-width-content;
  padding: 0px $padding;
  margin: 0 auto;
  display: block;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
button.menu{
  display: inline-block;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="white" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
  background-repeat: no-repeat;
  background-size: 30px 24px;
  background-position: center center;
  border: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  &.active{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="#4E8EF7" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
  }
}
.margin{
  margin: $padding;
}
.title{
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  color: $secondary-color;
}
.text-center{
  text-align: center;
}
figure.highlight{
  margin: 0px;
  pre{
    background-color: #272822;
    border: 0px;
    color: white;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    overflow: auto;
    code{
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
code.highlighter-rouge{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
div.highlighter-rouge{
  pre{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    code{
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
blockquote {
  padding: 10px 20px;
  margin: 5px 0px 20px 0px;
  font-size: 1.2em;
  border-left: 5px solid #eee;
}
.title-page{
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;
  text-transform: capitalize;
}
.banner-ads{
  margin-top: 10px;
}
.content-404{
  text-align: center;
}
div.versions{
  span.version{
    font-size: .9em;
    border-radius: 2px;
    overflow: hidden;
    background-color: $primary-color;
    color: white;
    margin-right: 3px;
    span{
      padding: 0px 4px;
    }
    span:last-child{
      font-weight: bold;
    }
  }
}
@import
"normalize",
"buttons",
"fonts",
"grids",
"tables",
"social_share",
"visibility";