@charset "UTF-8";

@font-face {
  font-family: "ionbook";
  src:url("/fonts/ionbook.eot");
  src:url("/fonts/ionbook.eot?#iefix") format("embedded-opentype"),
    url("/fonts/ionbook.woff") format("woff"),
    url("/fonts/ionbook.ttf") format("truetype"),
    url("/fonts/ionbook.svg#ionbook") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ionbook";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fireball:before {
  content: "\61";
}
.icon-android-notifications:before {
  content: "\62";
}
.icon-ionic:before {
  content: "\63";
}
.icon-code-working:before {
  content: "\64";
}
.icon-social-angular:before {
  content: "\65";
}
.icon-android-list:before {
  content: "\66";
}
.icon-android-favorite:before {
  content: "\67";
}
.icon-upload:before {
  content: "\68";
}
.icon-social-twitter:before {
  content: "\69";
}
.icon-social-octocat:before {
  content: "\6a";
}
.icon-social-facebook:before {
  content: "\6b";
}
.icon-social-sass:before {
  content: "\6c";
}
.icon-social-youtube:before {
  content: "\6d";
}
.icon-social-googleplus:before {
  content: "\6e";
}
.icon-social-android:before {
  content: "\6f";
}
.icon-social-apple:before {
  content: "\70";
}
.icon-social-windows:before {
  content: "\71";
}
.icon-slack:before {
  content: "\72";
}
.icon-android-done:before {
  content: "\73";
}
.icon-android-close:before {
  content: "\74";
}
.icon-linkedin:before {
  content: "\75";
}
.icon-earth:before {
  content: "\76";
}
.icon-social-instagram-outline:before {
  content: "\77";
}