.share-vertical{
  display: none;
}
@media screen and (min-width: $min-width-large) {
  .share-vertical{
    position: fixed;
    width: 10px;
    top: 150px;
    z-index: 1;
    display: block;
  }
}