@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .navbar{
    min-height: 15vh;
    #ion-logo{
      line-height: 5vh;
      height: 10vh;
      border: 8px solid #FFF;
      font-size: 27px;
      margin-top: 1vh;
    }
    .navbar-nav > li > a{
      line-height: 6vh;
    }
  }
}