.navbar{
  min-height: 10vh;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  .container{
    .navbar-brand{
      padding: 0px;
      margin-left: 0px;
      img{
        height: 100%;
      }
    }
  }
  .navbar-collapse{
    .col-xs-12{
      padding: 0px;
    }
  }
  &.navbar-default {
    background-color: $brand-color;
    border-color: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
    .navbar-collapse{
      border: 0px;
      box-shadow: 0px 0px 0px;
    }
    .navbar-toggle{
      border-color: white;
      .icon-bar{
        background-color: white;
      }
      &:hover,
      &:focus{
        background-color: $brand-color;
      }
    }
  }
  .navbar-nav > li > a{
    color: white;
    text-transform: capitalize;
    font-family: $font-title-family;
  } 
  .navbar-nav > li > a:hover, 
  .navbar-nav > li > a:focus {
    color: white;
  }
}

@import
"nav-bar-small",
"nav-bar-medium",
"nav-bar-large";